body{
    background-color: black;
    color: white;
    font-family: 'century gothic', sans-serif;
    max-width: 2000px;
    margin: auto;
}

a{
    color: white;
}

.headertext{
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.profession{
    font-size: 50px;
    padding-top: 20vh;
    animation-name: textSlideIn;
    animation-duration: 2s;
}

.myName{
    font-size: 30px;
}

.bottomline{
    border-bottom: white;
    border-bottom-style: solid;
    border-bottom-width:thin;
}

.topline{
    border-top: white;
    border-top-style: solid;
    border-top-width:thin;
}

.indexBackground{
    height: 100vh;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("Images/laptopData.jpg");
    background-size:cover;
    color: white;
    border-bottom: white;
    border-bottom-style: solid;
    border-bottom-width:thin;
}

.indexBackground img{
    margin: 20px;
}
.textFrame{
    background-color: #202124;
    display: flex;
    max-width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
}


.projectRow {
    background-color: black;
    display: flex;
    max-width: 1500px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
    
}

.linearGradient{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 30px 0px 30px 60px;
    background: linear-gradient(130deg, rgba(254,0,0,1) 0%,
                                        rgba(232,63,63,1) 20%, 
                                        rgba(255,162,0,1) 40%, 
                                        rgba(29,253,77,1) 60%, 
                                        rgba(207,39,253,1) 80%, 
                                        rgba(254,255,2,1) 100%);
    border-radius: 5%;
    border-width: 1px;
    border-style: solid;
    max-width: 30%;
}

.blackSquare{
    background-color: #3C4043;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: -15%;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    width: 110%;
}



.projectImage img{
    max-width: 90%;
    box-shadow: 10px 10px 0px 0px black;
}

.projectText{
    display: flex;
    flex-direction: column;
}


footer{
    display: flex;
    font-size: xx-small;
    background: #3C4043;
    height: 50px;
    justify-content: center;
    align-items: center;

}

@media only screen and (max-width: 800px) {
    
    body{
        text-align: center;
    }

    .mobilePaddingContainer1{
        padding: 20px 10px 20px 10px;  
    }

    .projectRow{
        margin: auto;
        max-width: 100%;
        flex-direction: column;
    }

    .indexBackground{
        background-position:center;
        margin-bottom: 20px;
    }
    .profession{
        font-size: 20px;
    }

    .myName{
        font-size: 15px;
    }

    .linearGradient{
        max-width: 100%; 
        margin: 20px 0px 20px 0px;      
        border-radius: 0%;
    }


   .blackSquare{
        max-width: 100%;
        margin: 0px;
        padding: 0px 0px 15px 0px;

    }

    .projectImage{
        max-width: 80%;
    }
    
    .projectText{
        margin-left: 0px;
        max-width: 100%;
    }
    
    .textFrame{
        margin-top: 20px;
        font-size: large;
       
    }


}

